# =================================================================
# FastAPI (Backend)
# =================================================================

# 가상환경 폴더
venv/
.venv/
env/
.env/

# 파이썬 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 민감 정보
.env

# Jupyter Notebook 체크포인트
.ipynb_checkpoints

# VSCode 파이썬 설정
.vscode/pylintrc

# =================================================================
# React (Frontend)
# =================================================================

# 의존성 패키지 폴더
frontend/node_modules/

# 빌드 결과물
frontend/dist/
frontend/.next/
frontend/build/

# 로그 파일
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Vite 로컬 환경 변수 파일
frontend/.env.local
frontend/.env.*.local


# =================================================================
# OS / IDE
# =================================================================

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# IDE 설정
.idea/
.vscode/
*.swp
*.swo